._3vry{color:#4267b2;cursor:pointer;margin:16px 0}._3vr_{margin-left:4px;vertical-align:middle}
._1upa{background-color:#f5f7f8;overflow-y:auto;text-align:center}._1upd{width:550px}

#bootloader_bdF3l{height:42px;}.bootloader_bdF3l{display:block!important;}