._5mmh{font-size:14px;margin:0 0 24px}._5mm3{margin:12px 12px 24px 12px}
.sp_V53xxlprDHX{background-image:url(/rsrc.php/v3/y3/r/Y6pKVjNGBeK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:21px}.sp_V53xxlprDHX.sx_25e0aa{background-position:0 0}.sp_V53xxlprDHX.sx_14fcf8{background-position:0 -22px}

#bootloader_RNjl_{height:42px;}.bootloader_RNjl_{display:block!important;}